__pycache__/
*.py[cod]
*.pyo

.pytest_cache/
.mypy_cache/
.ruff_cache/

.venv/
venv/
env/

.git/
.gitignore/

*.log

.env
.env.*

data/*.db
data/*.db-shm
data/*.db-wal

tests/__pycache__/

.DS_Store
Thumbs.db